<div class="item">
  <div class="description">
    <button
      [disabled]="disabled()"
      (click)="select.emit()"
      (focus)="focus.emit()"
      (blur)="blur.emit()"
    >
      {{ skiArea().metadata.name }}
    </button>
    <div class="date">{{ date() }}</div>
  </div>
  <button
    mat-icon-buton
    [disabled]="disabled()"
    (click)="delete.emit()"
    (focus)="focus.emit()"
    (blur)="blur.emit()"
    class="delete-button"
  >
    <mat-icon
      aria-label="delete"
      fontIcon="delete"
      class="delete-icon"
    ></mat-icon>
  </button>
</div>
