.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-button {
  flex: 1;
  justify-content: left;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.date {
  color: #555;
  font-size: 10px;
}

.delete-button {
  margin: 5px;
}

.delete-icon {
  color: #fc8c88;
}
