<div class="item">
  <button
    class="description"
    [disabled]="disabled()"
    (click)="select.emit()"
    (focus)="focus.emit()"
    (blur)="blur.emit()"
  >
    <div>{{ skiArea().metadata.name }}</div>
    <div class="date">{{ date() }}</div>
  </button>
  <button
    mat-icon-buton
    [disabled]="disabled()"
    (click)="delete.emit()"
    (focus)="focus.emit()"
    (blur)="blur.emit()"
    class="delete-button"
  >
    <mat-icon
      aria-label="delete"
      fontIcon="delete"
      class="delete-icon"
    ></mat-icon>
  </button>
</div>
