<div class="menu">
  <mat-menu #skiAreaMenu="matMenu">
    <button mat-menu-item (click)="loadSkiArea()">
      <mat-icon svgIcon="import"></mat-icon><span>Import ski area</span>
    </button>
    <button mat-menu-item (click)="saveSkiArea()">
      <mat-icon svgIcon="export"></mat-icon><span>Export ski area</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="loadCachedSkiArea()">
      <mat-icon fontIcon="save"></mat-icon><span>Ski areas</span>
    </button>
    <button mat-menu-item (click)="findSkiArea()">
      <mat-icon fontIcon="search"></mat-icon><span>Find ski area by name</span>
    </button>
    <button mat-menu-item (click)="findNearbySkiAreas()">
      <mat-icon svgIcon="map-search"></mat-icon
      ><span>Find nearby ski areas</span>
    </button>
  </mat-menu>

  <mat-menu #gpxMenu="matMenu">
    <button mat-menu-item (click)="loadRoute()">
      <mat-icon svgIcon="import"></mat-icon><span>Import analyzed route</span>
    </button>
    <button mat-menu-item (click)="saveRoute()">
      <mat-icon svgIcon="export"></mat-icon><span>Export analyzed route</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="loadGpx()">
      <mat-icon svgIcon="route"></mat-icon>
      <span>Analyze GPX</span>
    </button>
  </mat-menu>

  @if (loading()) {
    <button class="menu-button" mat-icon-button (click)="cancelAllTasks()">
      <mat-icon class="menu-icon cancel-icon" fontIcon="cancel"></mat-icon>
    </button>
  } @else if (!hasSelectableSkiArea()) {
    <button
      class="menu-button"
      title="Settings"
      (click)="settings()"
      mat-icon-button
    >
      <mat-icon fontIcon="settings"></mat-icon>
    </button>
    <button
      class="menu-button"
      title="Ski area"
      [matMenuTriggerFor]="skiAreaMenu"
      mat-icon-button
    >
      <mat-icon fontIcon="map"></mat-icon>
    </button>
    <button
      class="menu-button"
      title="Route"
      [matMenuTriggerFor]="gpxMenu"
      mat-icon-button
    >
      <mat-icon svgIcon="route"></mat-icon>
    </button>
  }
</div>
