<mat-card class="card" *ngIf="!!selectedActivity()">
  <name-value name="Type" [value]="activityType()"></name-value>
  <name-value name="Length" [value]="activityLength()"></name-value>
  <name-value name="Time" [value]="activityTime()"></name-value>
</mat-card>

<mat-card class="card" *ngIf="!!selectedWaypoint()">
  <name-value name="Time" [value]="waypointTime()"></name-value>
</mat-card>

<mat-card class="card" *ngIf="!!selectedPiste()">
  <div class="icon-container">
    <div class="piste-icon"></div>
  </div>
  <div class="name">{{ pisteName() }}</div>
  <name-value
    class="difficulty"
    name="Difficulty"
    [value]="selectedPiste()!.difficulty"
  ></name-value>
</mat-card>

<mat-card class="card" *ngIf="!!lift()">
  <div *ngIf="!!liftIcon()" class="icon-container">
    <img src="{{ liftIcon() }}" />
  </div>
  <div class="name">{{ liftName() }}</div>
  <name-value name="Type" [value]="liftType()"></name-value>
  <name-value name="Stations" [value]="stationCount()"></name-value>
  <name-value name="Length" [value]="liftLength()"></name-value>
  @for (len of liftLengths(); track len) {
    <div class="sub-info">{{ len }}</div>
  }
</mat-card>
