.card {
  margin: 10px;
  padding: 20px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.difficulty {
  color: var(--difficulty-color);
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.icon-container img {
  width: 100px;
}

.piste-icon {
  width: 100px;
  height: 100px;
  mask-image: url("/assets/piste.svg");
  background-color: var(--difficulty-color);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.sub-info {
  margin-left: 20px;
}
