.dialog-background {
  background: white;
  flex-direction: column;
  display: flex;
  height: calc(100% - 60px);
  border-radius: 12px;
}

.full-width {
  width: 100%;
}

.ski-area-list {
  flex: 1;
  overflow-y: auto;
}

.width-bar {
  height: 0px;
  overflow-y: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}
