<div class="dialog-background">
  <mat-form-field class="full-width">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="filter"
      placeholder="Type here to filter ski areas"
    />
  </mat-form-field>
  <mat-action-list class="ski-area-list">
    @for (skiArea of displayedSkiAreas(); track skiArea.id) {
      <button
        mat-list-item
        (click)="accept(skiArea.id)"
        (mouseenter)="highlight(skiArea)"
        (mouseleave)="unhighlight()"
      >
        {{ skiArea.name }}
      </button>
    }
  </mat-action-list>
  <div class="button-row">
    <button mat-stroked-button (click)="cancel()">Cancel</button>
  </div>
</div>
