<div class="dialog-background">
  <mat-form-field class="full-width">
    <mat-label>Search</mat-label>
    <input
      #search
      matInput
      type="text"
      [(ngModel)]="filter"
      placeholder="Type here to filter ski areas"
    />
  </mat-form-field>
  <div class="width-bar">
    @for (skiArea of cachedSkiAreas(); track skiArea.uuid) {
      <cached-ski-area-item
        [skiArea]="skiArea"
        [disabled]="true"
      ></cached-ski-area-item>
    }
    @for (skiArea of loadedSkiAreas(); track skiArea.id) {
      <div>
        <button mat-button class="loaded-item" disabled>
          {{ skiArea.name }}
        </button>
      </div>
    }
  </div>
  <h2>Cached ski areas</h2>
  <div class="ski-area-list">
    @for (skiArea of displayedCachedSkiAreas(); track skiArea.uuid) {
      <cached-ski-area-item
        [skiArea]="skiArea"
        (select)="acceptCached(skiArea.uuid)"
        (delete)="deleteCached(skiArea)"
        (focus)="focusListItem(skiArea.metadata)"
        (blur)="blurListItem()"
        (mouseenter)="hoverListItem(skiArea.metadata)"
        (mouseleave)="unhoverListItem()"
      ></cached-ski-area-item>
    }
  </div>

  @if (loadedSkiAreas() !== undefined) {
    <h2>Ski areas</h2>
    @if (loadedSkiAreas() !== null) {
      <div class="ski-area-list">
        @for (skiArea of displayedLoadedSkiAreas(); track skiArea.id) {
          <div>
            <button
              mat-button
              class="loaded-item"
              (click)="acceptLoaded(skiArea)"
              (focus)="focusListItem(skiArea)"
              (blur)="blurListItem()"
              (mouseenter)="hoverListItem(skiArea)"
              (mouseleave)="unhoverListItem()"
            >
              {{ skiArea.name }}
            </button>
          </div>
        }
      </div>
    } @else {
      <div class="loading-bg">
        <mat-icon class="loading-icon" svgIcon="piste" color="#888"></mat-icon>
      </div>
    }
  }
  <div class="button-row">
    <button mat-stroked-button (click)="cancel()">Cancel</button>
  </div>
</div>
