<div class="dialog-background">
  <mat-form-field class="full-width">
    <mat-label>Search</mat-label>
    <input
      #search
      matInput
      type="text"
      [(ngModel)]="filter"
      placeholder="Type here to filter ski areas"
    />
  </mat-form-field>
  <mat-action-list class="width-bar">
    @for (skiArea of cachedSkiAreas(); track skiArea.uuid) {
      <cached-ski-area-item
        mat-list-item
        [skiArea]="skiArea"
        [disabled]="true"
      ></cached-ski-area-item>
    }
    @for (skiArea of loadedSkiAreas(); track skiArea.id) {
      <button mat-list-item disabled>{{ skiArea.name }}</button>
    }
  </mat-action-list>
  <h1>Cached ski areas</h1>
  <div class="ski-area-list">
    @for (skiArea of displayedCachedSkiAreas(); track skiArea.uuid) {
      <cached-ski-area-item
        mat-list-item
        [skiArea]="skiArea"
        (select)="acceptCached(skiArea.uuid)"
        (delete)="deleteCached(skiArea.uuid)"
        (focus)="focusListItem(skiArea.metadata)"
        (blur)="blurListItem()"
        (mouseenter)="hoverListItem(skiArea.metadata)"
        (mouseleave)="unhoverListItem()"
      ></cached-ski-area-item>
    }
  </div>

  @if (loadedSkiAreas() !== undefined) {
    <h1>Ski areas</h1>
    @if (loadedSkiAreas() !== null) {
      <mat-action-list class="ski-area-list">
        @for (skiArea of displayedLoadedSkiAreas(); track skiArea.id) {
          <button
            mat-list-item
            (click)="acceptLoaded(skiArea.id)"
            (focus)="focusListItem(skiArea)"
            (blur)="blurListItem()"
            (mouseenter)="hoverListItem(skiArea)"
            (mouseleave)="unhoverListItem()"
          >
            {{ skiArea.name }}
          </button>
        }
      </mat-action-list>
    } @else {
      <div class="ski-area-list loading"></div>
    }
  }
  <div class="button-row">
    <button mat-stroked-button (click)="cancel()">Cancel</button>
  </div>
</div>
