.view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.view-inner {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}

.sidebar {
  height: 100%;
}

.main-menu-container {
  width: 100%;
}

selection-info {
  position: absolute;
  right: 0px;
  top: 0px;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.overlay {
  opacity: 0.8;
}
